<div ng-app=" " ng-init="current=true">
    <h1>Weather Display</h1>
        <label>City</label>
        &nbsp;
        &nbsp;
        <input type="text" id="city" name="city" #city/>
        &nbsp;
    <p>{{city.value}}</p>
    
        <button (click)="getWeatherData(city.value)" ng-click="current=true" >Get Weather</button>
        &nbsp;
        <button (click)="getForecastData(city.value)" ng-click="current=false">Get Forecast</button>
    
    <h2>Weather Data</h2>
    <em ng-hide="true">
        <p>City : {{city.value}}</p>
        <p>Temperature : {{temperature}}</p>
        <p>Humidity : {{humidity}}</p>
        <p>Pressure : {{pressure}}</p>
        </em>
    <em ng-hide="false">
        <h2>Forecast Data</h2>
        <p>City : {{city.value}}</p>
        <p>Temperature : {{temperature}}</p>
        <p>Humidity : {{humidity}}</p>
        <p>Pressure : {{pressure}}</p>
    </em>
</div>

